<section class="watch__large">
	<!-- include large image here -->
	<%= image_tag @watch.image.url(:medium) %>
</section>

<section class="watch__info">
	<h2><%= @watch.name %></h2>
	<%= simple_format @watch.description %>
	<div>
		<span>Posted by <%# mail_to @watch.user.email, @watch.user.name %></span>
	</div>
	<div class="actions">
		<%# if current user is logged in and owns the watch %>
			<%= link_to "Edit", edit_watch_path(@watch) %>
			<%= link_to "Delete", watch_path(@watch), method: :delete, class: "button", data: {confirm: "Are you sure?"} %>
		<%# else %>
			<b><%= number_to_currency @watch.price, unit: "£" %></b>
			<%= link_to "Buy" %>
		<%# end %>
	</div>
</section>