<!DOCTYPE html>
<html>
<head>
  <title>Timekeep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header>
		<nav>
			<%= link_to root_path do %>
				<h1>Time<br>Keep</h1>
			<% end %>
			
			<div class="actions">
				<% if logged_in? %>
					<%= link_to current_user.name %>
					<%= link_to "Log out", session_path, method: :delete, class: :button %>
				<% else %>
					<%= link_to "Log in", new_session_path %>
					<%= link_to "Sign up", new_user_path %>
				<% end %>
			</div>
		</nav>
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>">
				<p><%= value %></p>
			</div>
		<% end %>
	</header>
	<%= yield %>
</div>
	<footer>
		<div class="container">
			<address>
				<p>Get in touch</p>
				<p>Exmouth House</p>
				<p>3-11 Pine Street</p>
			</address>
			
			<div>
				<a href="tel:+442071395252">+44 (0)20 7139 5252</a>
			</div>

			<div>
				<p><%= mail_to "hello@timekeep.com" %></p>
			</div>

			<div class="social">
				<%# social_link_to :facebook %>
				<%# social_link_to :twitter %>
			</div>
		</div>
	</footer>
</body>
</html>
